.footer-home,
.footer-skills,
.footer-related,
.footer-education{
  position: relative;
  bottom: 0em;
  left: -1em;
  height: 2em;
  width: 102em;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  border: 2px solid black;
  background-color: #7df549;
}
.footer-skills{
  top: 105em;
  left: 1.1em;
  width: 120em;
  color: black;
}
.footer-related{
  top: 92em;
}
.footer-education{
  top: 100em;
}
@media only screen and (min-width: 768px) {
  .footer-home{
    top: 217em;
    width: 191.7em;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1399) {
  .footer-home{
    top:-250px;
    left: -4px;
    height: 2em;
    width: 99.5%;
  }
}
@media only screen and (min-width: 1400px) {
  .footer-home{
    bottom: 50em;
    left: 0.3em;
    height: 2em;
    width: 119.6em;
    color: black;
  }
}
